
@{
    ViewData["Title"] = "Account List";
    ViewData["AccountList"] = "active";
    var admins = ViewData["AdminList"] as List<InstituteOfFineArts.Areas.Identity.Data.CustomUser>;
    var manager = ViewData["ManagerList"] as List<InstituteOfFineArts.Areas.Identity.Data.CustomUser>;
    var staff = ViewData["StaffList"] as List<InstituteOfFineArts.Areas.Identity.Data.CustomUser>;
    var student = ViewData["StudentList"] as List<InstituteOfFineArts.Areas.Identity.Data.CustomUser>;
}

@{
    if (@TempData["Success"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Successed!</strong> @TempData["Success"]
        </div>
    }
}


<p>
    <a class="btn btn-success" title="Create" asp-action="Create"><span class="ti-plus"></span></a>
</p>

<h4>Administrators</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th width="80%">User Name</th>
            <th width="20%">Option</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in admins)
            {
                <tr>
                    <td width="80%">@item.UserName</td>
                    <td width="20%">
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">
                            <span class="ti-pencil"></span>
                        </a> 
                        <a class="btn btn-block" asp-action="Details" asp-route-id="@item.Id">
                            <span class="ti-list"></span>
                        </a> 
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                            <span class="ti-trash"></span>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<hr />
<h4>Managers</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th width="30%">User Name</th>
            <th width="50%">Email</th>
            <th width="20%">Option</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in manager)
            {
                <tr>
                    <td width="30%">@item.UserName</td>
                    <td width="50%">@item.Email</td>
                    <td width="20%">
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">
                            <span class="ti-pencil"></span>
                        </a>
                        <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">
                            <span class="ti-list"></span>
                        </a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                            <span class="ti-trash"></span>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<hr />
<h4>Staffs</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th width="30%">User Name</th>
            <th width="50%">Email</th>
            <th width="20%">Option</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in staff)
            {
                <tr>
                    <td width="30%">@item.UserName</td>
                    <td width="50%">@item.Email</td>
                    <td width="20%">
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">
                            <span class="ti-pencil"></span>
                        </a>
                        <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">
                            <span class="ti-list"></span>
                        </a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                            <span class="ti-trash"></span>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<hr />
<h4>Students</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th width="30%">User Name</th>
            <th width="50%">Email</th>
            <th width="20%">Option</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in student)
            {
        <tr>
            <td width="30%">@item.UserName</td>
            <td width="50%">@item.Email</td>
            <td width="20%">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">
                    <span class="ti-pencil"></span>
                </a>
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">
                    <span class="ti-list"></span>
                </a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                    <span class="ti-trash"></span>
                </a>
            </td>
        </tr>
            }
        }
    </tbody>
</table>