@model InstituteOfFineArts.Areas.Identity.Data.CustomUser;
@{
    ViewData["Title"] = "Details";
    ViewData["AccountList"] = "active";
    var role = ViewData["AccountRole"] as List<string>;
}

<div>
    <a class="btn btn-default" onclick="goBack()"><span class="ti-control-backward"></span></a>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id" style="float:right"><span class="ti-pencil"></span></a>
    <hr />
</div>
<div class="content">
    <div class="container-fluid" style="font-size:18px">
        <div class="row well">
            <dl class="col-lg-6">
                <dt>
                    Full Name:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FullName)
                </dd>
                <dt>
                    Account Name:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>
                <dt>
                    Address:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt>
                    Email:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    Gender:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Gender)
                </dd>
            </dl>
            <dl class="col-lg-6">
                <dt>
                    Date of Birth:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DateOfBirth)
                </dd>
                <dt>
                    Created Date:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CreatedAt)
                </dd>
                <dt>
                    Last Update:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UpdatedAt)
                </dd>
                <dt>
                    Role:
                </dt>
                <dd>
                    @foreach (var item in role)
                    {
                        @item
                    }
                </dd>
            </dl>
        </div>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>