
@{
    ViewData["Title"] = "AccountList";
    ViewData["AccountList"] = "active";

    var staff = ViewData["StaffList"] as List<InstituteOfFineArts.Areas.Identity.Data.CustomUser>;
    var student = ViewData["StudentList"] as List<InstituteOfFineArts.Areas.Identity.Data.CustomUser>;
}

@{
    if (@TempData["Success"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Successed!</strong> @TempData["Success"]
        </div>
    }
}
<br />
<h4>Staff Account List</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <td width="350px">FullName</td>
            <td width="350px">DOB</td>
            <td width="350px">Gender</td>
            <td>Option</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in staff)
            {
        <tr>
            <td>@item.FullName</td>
            <td>@item.DateOfBirth</td>
            <td>@item.Gender</td>
            <td>
                <a class="btn btn-warning" title="Detail" asp-action="Details" asp-route-id="@item.Id">
                    <span class="ti-list"></span>
                </a>
                

            </td>
        </tr>
            }
        }
    </tbody>
</table>

<hr />
<h4>Student Account List</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <td width="350px">FullName</td>
            <td width="350px">DOB</td>
            <td width="350px">Gender</td>
            <td>Option</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in student)
            {
                <tr>
                    <td>@item.FullName</td>
                    <td>@item.DateOfBirth</td>
                    <td>@item.Gender</td>
                    <td>

                        <a class="btn btn-warning" title="Detail" asp-action="Details" asp-route-id="@item.Id">
                            <span class="ti-list"></span>
                        </a>


                    </td>
                </tr>
            }
        }
    </tbody>
</table>