@model IEnumerable<InstituteOfFineArts.Models.Competition>

@{
    ViewData["Title"] = "Competition";
}

<p>
    <a class="btn btn-success" asp-action="CreateCompetition"><span class="ti-plus"></span></a>
</p>
<hr />
<h3>My Competition</h3>
<hr />
<table class="table">
    <thead>
        <tr>
            <th width="20%">
                @Html.DisplayNameFor(model => model.CompetitionName)
            </th>
            <th width="50%">
                @Html.DisplayNameFor(model => model.Decription)
            </th>
            <th width="10%">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th width="20%">Option</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompetitionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Decription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="EditCompetition" asp-route-id="@item.ID">
                        <span class="ti-pencil"></span>
                    </a>
                    <a class="btn btn-warning" asp-action="DetailsCompetition" asp-route-id="@item.ID">
                        <span class="ti-list"></span>
                    </a>
                    <a class="btn btn-danger" asp-action="DeleteCompetition" asp-route-id="@item.ID">
                        <span class="ti-trash"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<h3>Competition List</h3>
<hr />
<table class="table">
    <thead>
        <tr>
            <th width="20%">
                @Html.DisplayNameFor(model => model.CompetitionName)
            </th>
            <th width="50%">
                @Html.DisplayNameFor(model => model.Decription)
            </th>
            <th width="10%">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th width="20%">Option</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompetitionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Decription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="EditCompetition" asp-route-id="@item.ID">
                        <span class="ti-pencil"></span>
                    </a>
                    <a class="btn btn-warning" asp-action="DetailsCompetition" asp-route-id="@item.ID">
                        <span class="ti-list"></span>
                    </a>
                    <a class="btn btn-danger" asp-action="DeleteCompetition" asp-route-id="@item.ID">
                        <span class="ti-trash"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
