@model InstituteOfFineArts.Models.Post

@{
    ViewData["Title"] = "Details";
    ViewData["Competition"] = "active";
}
<div>
    <a class="btn btn-default" onclick="goBack()"><span class="ti-control-backward"></span></a>
    <hr />
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Decription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Decription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt>
            Author
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
    </dl>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>