@model InstituteOfFineArts.Areas.Identity.Data.CustomUser
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Examining Post";
    ViewData["Mark"] = "active";
}
<div>
    <a class="btn btn-default" onclick="goBack()"><span class="ti-control-backward"></span></a>
    <hr />
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <td width="40%">Post</td>
                <td width="30%">Post Name</td>
                <td width="10%">Post Point</td>
                <td width="20%">Option</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<CompetitionPost>)ViewData["PostList"])
            {
            <tr>
                <td><img class="img-responsive full-width" height="150" width="150" src="data:image/jpeg;base64,@Convert.ToBase64String(item.Post.Image)" /></td>
                <td>@item.Post.PostName</td>
                @if (item.StaffSubmit != null)
                {
                    var obj = JsonConvert.DeserializeObject<List<StaffSubmitList>>(item.StaffSubmit);
                    var x = obj.Find(a => a.StaffId == Model.Id);
                    if (x != null)
                    {
                        <td>@x.Point</td>
                        <td>
                            <a class="btn btn-secondary disabled" asp-action="MarkPost" asp-route-id="@item.Post.ID">
                                <span class="ti-pencil-alt"></span>
                            </a>
                        </td>
                    }
                    else
                    {
                        <td>Not Score</td>
                        <td>
                            <a class="btn btn-secondary" title="Mark this post" asp-action="MarkPost" asp-route-id="@item.Post.ID">
                                <span class="ti-pencil-alt"></span>
                            </a>
                        </td>
                    }
                }
                else
                {
                    <td>Not Score</td>
                    <td>
                        <a class="btn btn-secondary" title="Mark this post" asp-action="MarkPost" asp-route-id="@item.Post.ID">
                            <span class="ti-pencil-alt"></span>
                        </a>
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>