@model List<Competition>
@{
    ViewData["Title"] = "Competition";
    var during = ViewData["During"] as List<Competition>;
    var comingUp = ViewData["ComingUp"] as List<Competition>;
    var last = ViewData["Ended"] as List<Competition>;

}
<div class="pageheader-content row">
    <div class="col-full">

        <div class="featured">

            <div class="featured__column featured__column--big">
                <div class="entry" style="background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/International_School_of_Hamburg.jpg/1200px-International_School_of_Hamburg.jpg');">

                    <div class="entry__content">
                        <span class="entry__category"><a href="#0">NOW</a></span>

                        <h1><a asp-action="CompetitionDetails" asp-route-id="@during[0].ID">@during[0].CompetitionName</a></h1>

                        <div class="entry__info">
                            <ul class="entry__meta">
                                <li>@during[0].Decription</li>
                                <li>@during[0].CompetitionPosts.Count() Post(s)</li>
                            </ul>
                        </div>
                    </div> <!-- end entry__content -->

                </div> <!-- end entry -->
            </div> <!-- end featured__big -->

            <div class="featured__column featured__column--small">

                <div class="entry" style="background-image:url('https://cdn2-www.comingsoon.net/wp-content/themes/comingsoon/images/cs_default_image.jpg');">

                    <div class="entry__content">
                        <span class="entry__category"><a href="#0">Coming Soon</a></span>

                        <h1><a asp-action="CompetitionDetails" asp-route-id="@comingUp[0].ID">@comingUp[0].CompetitionName</a></h1>

                        <div class="entry__info">
                            <ul class="entry__meta">
                                <li>@comingUp[0].Decription</li>
                            </ul>
                        </div>
                    </div> <!-- end entry__content -->

                </div> <!-- end entry -->

                <div class="entry" style="background-image:url(https://images-na.ssl-images-amazon.com/images/I/61pY8mrC7lL._SY355_.jpg);">

                    <div class="entry__content">
                        <span class="entry__category"><a href="#0">Last Competition</a></span>

                        <h1><a asp-action="CompetitionDetails" asp-route-id="@last[0].ID">@last[0].CompetitionName</a></h1>

                        <div class="entry__info">
                            <a href="#0" class="entry__profile-pic">
                                <img class="avatar" src="test/images/avatars/user-03.jpg" alt="">
                            </a>

                            <ul class="entry__meta">
                                <li>@last[0].Decription</li>
                                <li>@last[0].CompetitionPosts.Count() Post(s)</li>
                            </ul>
                        </div>
                    </div> <!-- end entry__content -->

                </div> <!-- end entry -->

            </div> <!-- end featured__small -->
        </div> <!-- end featured -->

    </div> <!-- end col-full -->
</div> <!-- end pageheader-content row -->
</section> <!-- end s-pageheader -->


<div class="content">
    <div class="container">
        <hr />
        <h2>Competitions</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td><b>Name</b></td>
                    <td><b>Decription</b></td>
                    <td><b>Status</b></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="20%">@item.CompetitionName</td>
                        <td width="50%">@item.Decription</td>
                        <td width="20%">@item.Status</td>
                        <td width="10%"><a asp-action="CompetitionDetails" asp-route-id="@item.ID">Details</a></td>
                    </tr>
                }
             </tbody>
        </table>
    </div>
</div>
