@{
    ViewData["Title"] = "Home";
    var onGoing = ViewData["Ongoing"] as Competition;
    var comingUp = ViewData["ComingUp"] as Competition;
    var last = ViewData["Ended"] as Competition;

}
<div class="pageheader-content row">
    <div class="col-full">

        <div class="featured">

            <div class="featured__column featured__column--big">
                <div class="entry" style="background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/International_School_of_Hamburg.jpg/1200px-International_School_of_Hamburg.jpg');">

                    <div class="entry__content">
                        <span class="entry__category"><a href="#0">NOW</a></span>

                        <h1><a asp-action="CompetitionDetails" asp-route-id="@onGoing.ID">@onGoing.CompetitionName</a></h1>

                        <div class="entry__info">
                            <ul class="entry__meta">
                                <li>@onGoing.Decription</li>
                                <li>@onGoing.CompetitionPosts.Count() Post(s)</li>
                            </ul>
                        </div>
                    </div> <!-- end entry__content -->

                </div> <!-- end entry -->
            </div> <!-- end featured__big -->

            <div class="featured__column featured__column--small">

                <div class="entry" style="background-image:url('https://cdn2-www.comingsoon.net/wp-content/themes/comingsoon/images/cs_default_image.jpg');">

                    <div class="entry__content">
                        <span class="entry__category"><a href="#0">Coming Soon</a></span>

                        <h1><a asp-action="CompetitionDetails" asp-route-id="@comingUp.ID">@comingUp.CompetitionName</a></h1>

                        <div class="entry__info">
                            <ul class="entry__meta">
                                <li>@comingUp.Decription</li>
                            </ul>
                        </div>
                    </div> <!-- end entry__content -->

                </div> <!-- end entry -->

                <div class="entry" style="background-image:url(https://images-na.ssl-images-amazon.com/images/I/61pY8mrC7lL._SY355_.jpg);">

                    <div class="entry__content">
                        <span class="entry__category"><a href="#0">Last Competition</a></span>

                        <h1><a asp-action="CompetitionDetails" asp-route-id="@last.ID">@last.CompetitionName</a></h1>

                        <div class="entry__info">
                            <a href="#0" class="entry__profile-pic">
                                <img class="avatar" src="test/images/avatars/user-03.jpg" alt="">
                            </a>

                            <ul class="entry__meta">
                                <li>@last.Decription</li>
                                <li>@last.CompetitionPosts.Count() Post(s)</li>
                            </ul>
                        </div>
                    </div> <!-- end entry__content -->

                </div> <!-- end entry -->

            </div> <!-- end featured__small -->
        </div> <!-- end featured -->

    </div> <!-- end col-full -->
</div> <!-- end pageheader-content row -->

    </section> <!-- end s-pageheader -->

    <div class="content" style="background:#f5f5f5;">
        <div class="container body-content">
            <div class="site-section" style="margin-top:50px">
                <div class="container">
                    <center><h2 class="font-size-regular">Tên cuộc thi đang diễn ra</h2></center>
                    <center><p>Các bài dự thi được vote nhiều nhất</p></center>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://icdn.dantri.com.vn/thumb_w/640/2018/3/14/hot-girl-anh-the-huong-le-xe-buyt8-15210195344091865692058.jpg" />
                            <h4>Tiêu đề 1</h4>
                        </div>
                        <div class="col-md-4">
                            <img src="https://icdn.dantri.com.vn/thumb_w/640/2018/3/14/hot-girl-anh-the-huong-le-xe-buyt8-15210195344091865692058.jpg" />
                            <h4>Tiêu đề 2</h4>
                        </div>
                        <div class="col-md-4">
                            <img src="https://icdn.dantri.com.vn/thumb_w/640/2018/3/14/hot-girl-anh-the-huong-le-xe-buyt8-15210195344091865692058.jpg" />
                            <h4>Tiêu đề 3</h4>
                        </div>
                        
                    </div>
                </div>
            </div>
            <hr />
            <div class="site-section" style="margin-top:50px">
                <div class="container">
                    <center><h2>Giải thưởng các cuộc thi gần đây</h2></center>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://quiznhe.com/wp-content/uploads/2018/10/top-nhung-hot-girl-viet-nam-xinh-nhat-hien-nay-2018-14.png" />
                            <h4>Tiêu đề 1</h4>
                        </div>
                        <div class="col-md-4">
                            <img src="https://quiznhe.com/wp-content/uploads/2018/10/top-nhung-hot-girl-viet-nam-xinh-nhat-hien-nay-2018-14.png" />
                            <h4>Tiêu đề 2</h4>
                        </div>
                        <div class="col-md-4">
                            <img src="https://quiznhe.com/wp-content/uploads/2018/10/top-nhung-hot-girl-viet-nam-xinh-nhat-hien-nay-2018-14.png" />
                            <h4>Tiêu đề 3</h4>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="container" style="  height:500px; background-image:url(https://www.haggardsrusticgoods.com/assets/app/public/images/magento/coming_soon.jpg)">
                <center><h2 style="color:white; margin-top:20px;">Cuộc thi sắp diễn ra</h2></center>
                <center><h4 style="color:white;">Hiện chưa có cuộc thi nào</h4></center>
            </div>
            <hr />
            <div class="site-section" style="margin-top:50px">
                <div class="container">
                    <center><h2 class="font-size-regular">News</h2></center>
                    <center><p> See Our Daily News &amp; Updates</p></center>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="">
                                <img src="http://arena.fpt.edu.vn/wp-content/uploads/bfi_thumb/Le-Ton-VInh-Sinh-Vien-FAI-HN-2019-fbcover-o3w2du1l4r0j94nuweixeed08veo6zbyhj086adg9e.jpg" alt="Image">
                                <h2>
                                    <a href="http://arena.fpt.edu.vn/le-ton-vinh-sinh-vien-xuat-sac-hoc-ky-fall-2018-fai-ha-noi/" target="_blank">
                                        FAI Hanoi - Ceremony to honor outstanding students of the Fall 2018 semester
                                    </a>
                                </h2>
                                <div>by fpt arena <span>&bullet;</span>22/02/2019 | 21 views<span>&bullet;</span> <a href="#">News</a></div>
                                <p>Coming soon on February 28, FPT Hanoi International Training Institute ( FAI Hanoi ) will hold a ceremony to honor outstanding and warm students in the 2018 Fall semester at Hall B9, the Detech Building. 8 Ton That Thuyet, Nam Tu Liem. At the Ceremony, there will be names of outstanding academic achievements nominated for honors on the gold board....</p>
                                <a href="http://arena.fpt.edu.vn/le-ton-vinh-sinh-vien-xuat-sac-hoc-ky-fall-2018-fai-ha-noi/" target="_blank">See more >>></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <img src="http://arena.fpt.edu.vn/wp-content/uploads/bfi_thumb/Nu-cuoi-am-FAI-HN-20-1-o2h9xr67iqt8c1t7akzejvjis1x25oaqikygmce55e.jpg" alt="Image" />
                                <h2 class="font-size-regular">
                                    <a href="http://arena.fpt.edu.vn/nu-cuoi-tam-nam-tha-lao-cai/" target="_blank">
                                        Looking back at the volunteer journey that brought a warm smile to the poor upland commune of Lao Cai by FAI Hanoi students
                                    </a>
                                </h2>
                                <div>by Theresa Winston <span>&bullet;</span> 24/01/2019 | 138 views <span>&bullet;</span> <a href="#">News</a></div>
                                <p>On 11 January, the volunteer student group of FPT International Training Institute (FAI Hanoi) organized the program "Warm Smile" at Nam Tha Secondary School and the Thai Tha Primary School, Van Ban district. , Lao Cai Province. These are two schools currently taking care and teaching with a total of nearly 500 ethnic minority students who are poor, especially difficult ...</p>
                                <a href="http://arena.fpt.edu.vn/nu-cuoi-tam-nam-tha-lao-cai/" target="_blank">See more >>></a>
                            </div>
                        </div>
                    </div>
                </div>
               
                </div>
            </div>
    </div>

