@{
    ViewData["Title"] = "Home";
    var onGoing = ViewData["Ongoing"] as Competition;
    var comingUp = ViewData["ComingUp"] as Competition;
    var last = ViewData["Ended"] as Competition;

}
<div class="pageheader-content row">
    <div class="col-full">

        <div class="featured">

            <div class="featured__column featured__column--big">
                <div class="entry" style="background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/International_School_of_Hamburg.jpg/1200px-International_School_of_Hamburg.jpg');">

                    <div class="entry__content">
                        <span class="entry__category"><a href="#0">NOW</a></span>

                        <h1><a asp-action="CompetitionDetails" asp-route-id="@onGoing.ID">@onGoing.CompetitionName</a></h1>

                        <div class="entry__info">
                            <ul class="entry__meta">
                                <li>@onGoing.Decription</li>
                                <li>@onGoing.CompetitionPosts.Count() Post(s)</li>
                            </ul>
                        </div>
                    </div> <!-- end entry__content -->

                </div> <!-- end entry -->
            </div> <!-- end featured__big -->

            <div class="featured__column featured__column--small">

                <div class="entry" style="background-image:url('https://cdn2-www.comingsoon.net/wp-content/themes/comingsoon/images/cs_default_image.jpg');">

                    <div class="entry__content">
                        <span class="entry__category"><a href="#0">Coming Soon</a></span>

                        <h1><a asp-action="CompetitionDetails" asp-route-id="@comingUp.ID">@comingUp.CompetitionName</a></h1>

                        <div class="entry__info">
                            <ul class="entry__meta">
                                <li>@comingUp.Decription</li>
                            </ul>
                        </div>
                    </div> <!-- end entry__content -->

                </div> <!-- end entry -->

                <div class="entry" style="background-image:url(https://images-na.ssl-images-amazon.com/images/I/61pY8mrC7lL._SY355_.jpg);">

                    <div class="entry__content">
                        <span class="entry__category"><a href="#0">Last Competition</a></span>

                        <h1><a asp-action="CompetitionDetails" asp-route-id="@last.ID">@last.CompetitionName</a></h1>

                        <div class="entry__info">
                            <a href="#0" class="entry__profile-pic">
                                <img class="avatar" src="test/images/avatars/user-03.jpg" alt="">
                            </a>

                            <ul class="entry__meta">
                                <li>@last.Decription</li>
                                <li>@last.CompetitionPosts.Count() Post(s)</li>
                            </ul>
                        </div>
                    </div> <!-- end entry__content -->

                </div> <!-- end entry -->

            </div> <!-- end featured__small -->
        </div> <!-- end featured -->

    </div> <!-- end col-full -->
</div> <!-- end pageheader-content row -->
</section> <!-- end s-pageheader -->

<div class="content">
    <div class="container body-content">
    </div>
</div>