@model List<CompetitionPost>
@{
    ViewData["Title"] = "MyAccount";
    var user = ViewData["User"] as InstituteOfFineArts.Areas.Identity.Data.CustomUser;
}
<style>
    .s-pageheader--home {
        min-height: 255px;
        padding-top: 222px;
    }
</style>
<div class="pageheader-content row">
    <div class="container">
    </div>
</div>
</section> <!-- end s-pageheader -->

<div class="content">
    <div class="container">
        @if (@TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" style="right: -6px;">&times;</a>
                <strong>Successed!</strong> @TempData["Success"]
            </div>
        }

        <hr />
        <div class="container-fluid well">
            <div class="row">
                <b>YOUR INFORMATION</b>
                <hr />
                <div class="col-lg-6">
                    <dl>
                        <dt>Full Name:</dt>
                        <dd>@user.FullName</dd>

                        <dt>Account Name:</dt>
                        <dd>@user.UserName</dd>

                        <dt>Email:</dt>
                        <dd>@user.Email</dd>

                        <dt>Address:</dt>
                        <dd>@user.Address</dd>
                    </dl>
                </div>

                <div class="col-lg-6">
                    <dl>
                        <dt>Phone Number:</dt>
                        <dd>@user.PhoneNumber</dd>

                        <dt>Date of Birth:</dt>
                        <dd>@user.DateOfBirth.ToLongDateString()</dd>

                        <dt>Gender:</dt>
                        <dd>@user.Gender</dd>
                    </dl>
                </div>
            </div>
            <a class="btn btn-primary" asp-action="EditInfo">Change Informaition</a>
            <a class="btn btn-warning" asp-action="ChangePassword">Change Password</a>
        </div>

        <hr />
        <div class="col-lg-6" style="display:inline-flex;">
            <div style="padding:18px 18px 0 12px"><span class='ti-search'></span></div>
            <input style="background-color:#f5f5f5" class="form-control" id="myInput" type="text" placeholder="Type to search...">
        </div>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <td width="20%"><b>Image</b></td>
                    <td width="10%"><b>Post Name</b></td>
                    <td width="35%"><b>Description</b></td>
                    <td width="15%"><b>Post Time</b></td>
                    <td width="10%"><b>Competition</b></td>
                    <td width="10%"><b>Option</b></td>
                </tr>
            </thead>
            <tbody id="myTable">
                @{
                    foreach (var item in Model)
                    {
                <tr>
                    <td>
                        <div class="full-width">
                            <img class="img-responsive" src="data:image/jpeg;base64,@Convert.ToBase64String(item.Post.Image)" />
                        </div>
                    </td>
                    <td>@item.Post.PostName</td>
                    <td>@item.Post.Decription</td>
                    <td>@Html.DisplayFor(modelItem => item.Post.CreatedAt)</td>
                    <td>@item.Competition.CompetitionName</td>
                    @if (item.Competition.Status == CompetitonStatus.Ongoing)
                    {
                        <td>
                            <a class="btn btn-warning" title="Edit" asp-action="EditPost" asp-route-id="@item.Post.ID"><span class="ti-pencil-alt"></span></a>
                            <a class="btn btn-danger" title="Delete" asp-action="DeletePost" asp-route-id="@item.Post.ID"><span class="ti-trash"></span></a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a class="btn btn-warning disabled" title="Edit" asp-action="EditPost" asp-route-id="@item.Post.ID"><span class="ti-pencil-alt"></span></a>
                            <a class="btn btn-danger disabled" title="Delete" asp-action="DeletePost" asp-route-id="@item.Post.ID"><span class="ti-trash"></span></a>
                        </td>
                    }

                </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>